@use "../../../styles/theming.scss" as *;

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;

  & > * {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: contain;
  }

  svg {
    fill: currentColor;
  }
}
