.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;
}

.icon > * {
  display: block;
  width: 100%;
  height: 100%;
}

.icon img {
  object-fit: contain;
}

.icon svg {
  fill: currentColor;
}
