@font-face {
  font-family: "Satoshi Variable";
  src: url("./Satoshi-Variable.woff2") format("woff2"),
    url("./Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
