@use "sass:map";
@forward "./colors.scss";
@use "./colors.scss" as colors;

@mixin getPropByTheme($prop, $colorParent: "brandColors", $color: "primary900") {
  @each $themeName, $themeValue in colors.$themes {
    [data-theme="#{$themeName}"] & {
      #{$prop}: #{map.get(map.get($themeValue, $colorParent), $color)};
    }
  }
}
