.product-image {
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);
}

.product-image--fill {
  width: 100%;
  height: 100%;
}

.product-image img {
  transition: transform 0.3s ease-in-out;
}

.product-image:hover img {
  transform: scale(1.05);
}
