@use "../../../styles/theming.scss" as *;

.button {
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  font-family: inherit;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button--primary {
  @include getPropByTheme(background-color, brandColors, primary900);
  @include getPropByTheme(color, whiteColors, whiteBase);

  &:hover {
    @include getPropByTheme(background-color, brandColors, primary800);
  }
}

.button--secondary {
  @include getPropByTheme(background-color, greyColors, grey100);
  @include getPropByTheme(color, greyColors, grey900);
  @include getPropByTheme(border-color, greyColors, grey300);
  border: 1px solid;

  &:hover {
    @include getPropByTheme(background-color, greyColors, grey200);
  }
}

.button--small {
  padding: 8px 16px;
  font-size: 14px;
}

.button--medium {
  padding: 12px 24px;
  font-size: 16px;
}

.button--large {
  padding: 16px 32px;
  font-size: 18px;
}

.button--full-width {
  width: 100%;
}
